openapi: 3.0.0
x-stoplight:
  id: i72lagp6c0vth
info:
  description: The Health service allows to know if the services are healthy or not
  version: 1.0.0
  title: Health service
  contact:
    email: ezteam@couperin.org
    name: ezTeam
  license:
    name: CeCILL 2.1
    url: http://www.cecill.info/licences/Licence_CeCILL_V2.1-en.html
servers:
  - url: https://unpaywall.inist.fr/api
tags:
  - name: ping
paths:
  /health:  
    get:
      tags:
        - ping
      operationId: get-graphql
      summary: Name of service
      description: Get name of health service
      parameters: []
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
                x-examples:
                  Example 1: health service
              examples:
                service:
                  value: health service
            Success:
              examples:
                response:
                  value:
                    message: graphql service
    
  /health/ping:
    get:
      tags:
        - ping
      operationId: get-health-ping
      summary: Your GET endpoint
      description: ping health service
      responses:
        '204':
          description: No Content
      
  /health/health:
    get:
      tags:
        - ping
      operationId: get-health-health
      summary: Your GET endpoint
      description: Health on all service relied to ezunpaywall
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  graphql:
                    type: object
                    properties:
                      elapsedTime:
                        type: integer
                      services:
                        type: object
                        properties:
                          redis:
                            type: object
                            properties:
                              elapsedTime:
                                type: integer
                              status:
                                type: boolean
                          elastic:
                            type: object
                            properties:
                              elapsedTime:
                                type: integer
                              status:
                                type: boolean
                      status:
                        type: boolean
                  update:
                    type: object
                    properties:
                      elapsedTime:
                        type: integer
                      services:
                        type: object
                        properties:
                          redis:
                            type: object
                            properties:
                              elapsedTime:
                                type: integer
                              status:
                                type: boolean
                          elastic:
                            type: object
                            properties:
                              elapsedTime:
                                type: integer
                              status:
                                type: boolean
                      status:
                        type: boolean
                  enrich:
                    type: object
                    properties:
                      elapsedTime:
                        type: integer
                      services:
                        type: object
                        properties:
                          redis:
                            type: object
                            properties:
                              elapsedTime:
                                type: integer
                              status:
                                type: boolean
                          graphql:
                            type: object
                            properties:
                              elapsedTime:
                                type: integer
                              status:
                                type: boolean
                      status:
                        type: boolean
                  apikey:
                    type: object
                    properties:
                      elapsedTime:
                        type: integer
                      services:
                        type: object
                        properties:
                          redis:
                            type: object
                            properties:
                              elapsedTime:
                                type: integer
                              status:
                                type: boolean
                      status:
                        type: boolean
                  mail:
                    type: object
                    properties:
                      elapsedTime:
                        type: integer
                      services:
                        type: object
                        properties:
                          smtp:
                            type: object
                            properties:
                              elapsedTime:
                                type: integer
                              status:
                                type: boolean
                              error:
                                type: string
                      status:
                        type: boolean
                  elastic:
                    type: object
                    properties:
                      elapsedTime:
                        type: integer
                      status:
                        type: boolean
                  unpaywall:
                    type: object
                    properties:
                      elapsedTime:
                        type: integer
                      status:
                        type: boolean
                  redis:
                    type: object
                    properties:
                      elapsedTime:
                        type: integer
                      status:
                        type: boolean
                x-examples:
                  Example 1:
                    graphql:
                      elapsedTime: 12
                      services:
                        redis:
                          elapsedTime: 0
                          status: true
                        elastic:
                          elapsedTime: 1
                          status: true
                      status: true
                    update:
                      elapsedTime: 11
                      services:
                        redis:
                          elapsedTime: 0
                          status: true
                        elastic:
                          elapsedTime: 1
                          status: true
                      status: true
                    enrich:
                      elapsedTime: 11
                      services:
                        redis:
                          elapsedTime: 1
                          status: true
                        graphql:
                          elapsedTime: 1
                          status: true
                      status: true
                    apikey:
                      elapsedTime: 9
                      services:
                        redis:
                          elapsedTime: 0
                          status: true
                      status: true
                    mail:
                      elapsedTime: 109
                      services:
                        smtp:
                          elapsedTime: 104
                          status: false
                          error: self signed certificate
                      status: false
                    elastic:
                      elapsedTime: 11
                      status: true
                    unpaywall:
                      elapsedTime: 6
                      status: true
                    redis:
                      elapsedTime: 1
                      status: true
              examples:
                Success:
                  value:
                    graphql:
                      elapsedTime: 12
                      services:
                        redis:
                          elapsedTime: 0
                          status: true
                        elastic:
                          elapsedTime: 1
                          status: true
                      status: true
                    update:
                      elapsedTime: 11
                      services:
                        redis:
                          elapsedTime: 0
                          status: true
                        elastic:
                          elapsedTime: 1
                          status: true
                      status: true
                    enrich:
                      elapsedTime: 11
                      services:
                        redis:
                          elapsedTime: 1
                          status: true
                        graphql:
                          elapsedTime: 1
                          status: true
                      status: true
                    apikey:
                      elapsedTime: 9
                      services:
                        redis:
                          elapsedTime: 0
                          status: true
                      status: true
                    mail:
                      elapsedTime: 109
                      services:
                        smtp:
                          elapsedTime: 104
                          status: false
                          error: self signed certificate
                      status: false
                    elastic:
                      elapsedTime: 11
                      status: true
                    unpaywall:
                      elapsedTime: 6
                      status: true
                    redis:
                      elapsedTime: 1
                      status: true

components:
  responses: {}
  securitySchemes: {}
