openapi: 3.0.0
info:
  description: The mail service allows the sending of mail for the different services
  version: 1.0.0
  title: Mail service
  contact:
    email: ezteam@couperin.org
    name: ezTeam
  license:
    name: CeCILL 2.1
    url: http://www.cecill.info/licences/Licence_CeCILL_V2.1-en.html
servers:
  - url: https://unpaywall.inist.fr/api
tags:
  - name: mail
  - name: ping
paths:
  /mail:
    get:
      tags:
        - ping
      operationId: get-mail
      summary: Name of service
      description: Get name of mail service
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
                x-examples:
                  example-1: mail service
              examples:
                service:
                  value: mail service
            Success:
              examples:
                response:
                  value:
                    message: mail service
      
  /mail/ping:
    get:
      tags:
        - ping
      operationId: get-mail-ping
      summary: Ping mail service
      description: Ping mail service
      responses:
        '204':
          description: No Content
  /mail/health:
    get:
      tags:
        - ping
      operationId: get-mail-health
      summary: Health
      description: Health on all service connected to enrich service
      parameters: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  smtp:
                    type: object
                    properties:
                      elapsedTime:
                        type: integer
                      status:
                        type: boolean
                x-examples:
                  Example 1:
                    smtp:
                      elapsedTime: 1
                      status: true
              examples:
                Success:
                  value:
                    smtp:
                      elapsedTime: 1
                      status: true
                Error smtp:
                  value:
                    smtp:
                      elapsedTime: 133
                      status: false
                      error: self signed certificate
    
  /mail/health/smtp:
    get:
      tags:
        - ping
      operationId: get-mail-health-smtp
      summary: Health on SMTP service
      description: Health on smtp
      parameters: []
      responses:
        '200':
          $ref: '#/components/responses/Health'
      
  /mail/contact:
    post:
      tags:
        - mail
      operationId: post-mail-contact
      summary: Send mail contact
      description: Send contact mail
      security:
        - x-api-key: []
      responses:
        '202':
          description: Accepted
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
                properties: {}
            email expected:
              examples:
                response:
                  value:
                    message: email are expected
            invalid email:
              examples:
                response:
                  value:
                    message: '["john"] is invalid email'
            subject expected:
              examples:
                response:
                  value:
                    message: subject are expected
            message expected:
              examples:
                response:
                  value:
                    message: message are expected
        '401':
          $ref: '#/components/responses/Not-authorized'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                type: object
                properties: {}
      

  /mail/update-start:
    post:
      tags:
        - mail
      operationId: post-mail-update-start
      summary: Send mail update process start
      description: Sending of the email informing the launch of the update process
      security:
        - x-api-key: []
      parameters: []
      responses:
        '202':
          description: Accepted
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
                properties: {}
        '401':
          $ref: '#/components/responses/Not-authorized'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                type: object
                properties: {}
    
  /mail/update-end:
    post:
      tags:
        - mail
      operationId: post-mail-update-end
      summary: Send mail update process ended
      description: Sending of the email with the report of the end of the update
      security:
        - x-api-key: []
      parameters: []
      responses:
        '202':
          description: Accepted
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
                properties: {}
        '401':
          $ref: '#/components/responses/Not-authorized'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                type: object
                properties: {}


components:
  responses:
    Not-authorized:
      description: Not authorized
      headers: {}
      content:
        application/json:
          examples:
            response:
              value:
                message: Not authorized
    Health:
      description: Example response
      content:
        Success:
          schema:
            type: object
            properties:
              name:
                type: string
              status:
                type: boolean
              elapsedTime:
                type: integer
            x-examples:
              Example 1:
                name: redis
                status: true
                elapsedTime: 1
          examples:
            Success:
              value:
                name: name of service
                status: true
                elapsedTime: 1
            Error smtp:
              value:
                elapsedTime: 115
                status: false
                error: self signed certificate
  securitySchemes:
    x-api-key:
      name: API Key
      type: apiKey
      in: header
